.sidebarRow {
  display: flex;
  align-items: center;
  padding: 8px 23px;
}
.sidebarRow.selected > .sidebar-title {
  font-weight: bold;
}
.sidebarRow.selected > .sidebar-icon {
  color: rgb(233, 30, 30);
}
.sidebarRow.selected {
  background-color: white;
}
.sidebarRow:hover {
  background-color: white;
  cursor: pointer;
}
.sidebarRow:hover > .sidebar-title {
  font-weight: bold;
}
.sidebarRow:hover > .sidebar-icon {
  color: rgb(233, 30, 30);
}
.sidebar-icon {
  color: rgb(53, 51, 51);
  font-size: 22px !important;
}
.sidebar-title {
  color: rgb(44, 43, 43);
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  margin-left: 21px;
  letter-spacing: 0.04rem;
}
